{% extends "base.j2" %}
{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
{% endblock %}
{% block title %}Charts{% endblock %}
{% block content %}
<div style="height: 400px;"><canvas id="buy_chart"></canvas></div>
<script>
    var ctx = document.getElementById("buy_chart").getContext("2d");
    var priceChart = new Chart(ctx,{
        type: 'line',
        data: {
            datasets: {{ datasets|safe }}
        },
        options: {
            scales: {
                xAxes: [{
                    type: 'time'
                }]
            },
            animation: false
        }
    });
</script>
{% endblock %}
